/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/5_HTTP_Wifi/build/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/5_HTTP_Wifi/.cache/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/5_HTTP_Wifi/.vscode/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/5_HTTP_Wifi/.devcontainer/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/blink/build/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/blink/.cache/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/blink/.vscode/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/blink/.devcontainer/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/MyLCD/build/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/MyLCD/.cache/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/MyLCD/.vscode/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/MyLCD/.devcontainer/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/myownblink/build/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/myownblink/.cache/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/myownblink/.vscode/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/myownblink/.devcontainer/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/Timer/build/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/Timer/.cache/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/Timer/.vscode/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/Timer/.devcontainer/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/webserver2/build/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/webserver2/.cache/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/webserver2/.vscode/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/webserver2/.devcontainer/
