/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/5_HTTP_Wifi/build/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/5_HTTP_Wifi/.cache/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/5_HTTP_Wifi/.vscode/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/5_HTTP_Wifi/.devcontainer/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/5_HTTP_Wifi/sdkconfig
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/5_HTTP_Wifi/sdkconfig.old
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/5_HTTP_Wifi/.pio
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/5_HTTP_Wifi/.gitignore
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/6_Bluetooth/build/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/6_Bluetooth/.cache/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/6_Bluetooth/.vscode/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/6_Bluetooth/.devcontainer/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/6_Bluetooth/sdkconfig
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/6_Bluetooth/sdkconfig.old
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/6_Bluetooth/.pio
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/6_Bluetooth/.gitignore
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/8_9_MPasos_Servo/build/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/8_9_MPasos_Servo/.cache/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/8_9_MPasos_Servo/.vscode/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/8_9_MPasos_Servo/.devcontainer/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/8_9_MPasos_Servo/sdkconfig
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/8_9_MPasos_Servo/sdkconfig.old
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/8_9_MPasos_Servo/.pio
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/8_9_MPasos_Servo/.gitignore
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/10_Integrador/build/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/10_Integrador/.cache/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/10_Integrador/.vscode/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/10_Integrador/.devcontainer/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/10_Integrador/sdkconfig
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/10_Integrador/sdkconfig.old
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/10_Integrador/.pio
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/10_Integrador/.gitignore
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/ESP-IDF/blink/blink/build/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/ESP-IDF/blink/blink/.cache/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/ESP-IDF/blink/blink/.vscode/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/ESP-IDF/blink/blink/.devcontainer/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/ESP-IDF/blink/blink/sdkconfig
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/ESP-IDF/blink/blink/sdkconfig.old
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/ESP-IDF/blink/blink/.pio
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/ESP-IDF/blink/blink/.gitignore
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/ESP-IDF/MyLCD/build/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/ESP-IDF/MyLCD/.cache/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/ESP-IDF/MyLCD/.vscode/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/ESP-IDF/MyLCD/.devcontainer/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/ESP-IDF/MyLCD/sdkconfig
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/ESP-IDF/MyLCD/sdkconfig.old
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/ESP-IDF/MyLCD/.pio
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/ESP-IDF/MyLCD/.gitignore
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/ESP-IDF/myownblink/build/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/ESP-IDF/myownblink/.cache/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/ESP-IDF/myownblink/.vscode/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/ESP-IDF/myownblink/.devcontainer/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/ESP-IDF/myownblink/sdkconfig
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/ESP-IDF/myownblink/sdkconfig.old
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/ESP-IDF/myownblink/.pio
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/ESP-IDF/myownblink/.gitignore
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/ESP-IDF/Timer/build/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/ESP-IDF/Timer/.cache/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/ESP-IDF/Timer/.vscode/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/ESP-IDF/Timer/.devcontainer/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/ESP-IDF/Timer/sdkconfig
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/ESP-IDF/Timer/sdkconfig.old
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/ESP-IDF/Timer/.pio
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/ESP-IDF/Timer/.gitignore
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/ESP-IDF/webserver/build/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/ESP-IDF/webserver/.cache/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/ESP-IDF/webserver/.vscode/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/ESP-IDF/webserver/.devcontainer/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/ESP-IDF/webserver/sdkconfig
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/ESP-IDF/webserver/sdkconfig.old
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/ESP-IDF/webserver/.pio
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/ESP-IDF/webserver/.gitignore
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/ESP-IDF/webserver2/build/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/ESP-IDF/webserver2/.cache/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/ESP-IDF/webserver2/.vscode/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/ESP-IDF/webserver2/.devcontainer/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/ESP-IDF/webserver2/sdkconfig
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/ESP-IDF/webserver2/sdkconfig.old
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/ESP-IDF/webserver2/.pio
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/ESP-IDF/webserver2/.gitignore
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/PlattformIO/blink/build/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/PlattformIO/blink/.cache/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/PlattformIO/blink/.vscode/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/PlattformIO/blink/.devcontainer/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/PlattformIO/blink/sdkconfig
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/PlattformIO/blink/sdkconfig.old
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/PlattformIO/blink/.pio
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/PlattformIO/blink/.gitignore
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/PlattformIO/Blinkink1/build/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/PlattformIO/Blinkink1/.cache/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/PlattformIO/Blinkink1/.vscode/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/PlattformIO/Blinkink1/.devcontainer/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/PlattformIO/Blinkink1/sdkconfig
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/PlattformIO/Blinkink1/sdkconfig.old
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/PlattformIO/Blinkink1/.pio
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/PlattformIO/Blinkink1/.gitignore
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/PlattformIO/MotoresServoPasos/build/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/PlattformIO/MotoresServoPasos/.cache/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/PlattformIO/MotoresServoPasos/.vscode/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/PlattformIO/MotoresServoPasos/.devcontainer/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/PlattformIO/MotoresServoPasos/sdkconfig
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/PlattformIO/MotoresServoPasos/sdkconfig.old
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/PlattformIO/MotoresServoPasos/.pio
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/PlattformIO/MotoresServoPasos/.gitignore
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/PlattformIO/Ubidots_DHT/build/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/PlattformIO/Ubidots_DHT/.cache/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/PlattformIO/Ubidots_DHT/.vscode/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/PlattformIO/Ubidots_DHT/.devcontainer/
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/PlattformIO/Ubidots_DHT/sdkconfig
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/PlattformIO/Ubidots_DHT/sdkconfig.old
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/PlattformIO/Ubidots_DHT/.pio
/home/usuario1/Documents/School/7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/PlattformIO/Ubidots_DHT/.gitignore
