7th_Semester/SistemasEmbebidosII/SourceFiles/5_HTTP_Wifi/build/
7th_Semester/SistemasEmbebidosII/SourceFiles/5_HTTP_Wifi/.cache/
7th_Semester/SistemasEmbebidosII/SourceFiles/5_HTTP_Wifi/.vscode/
7th_Semester/SistemasEmbebidosII/SourceFiles/5_HTTP_Wifi/.devcontainer/
7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/blink/build/
7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/blink/.cache/
7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/blink/.vscode/
7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/blink/.devcontainer/
7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/MyLCD/build/
7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/MyLCD/.cache/
7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/MyLCD/.vscode/
7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/MyLCD/.devcontainer/
7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/myownblink/build/
7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/myownblink/.cache/
7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/myownblink/.vscode/
7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/myownblink/.devcontainer/
7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/Timer/build/
7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/Timer/.cache/
7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/Timer/.vscode/
7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/Timer/.devcontainer/
7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/webserver2/build/
7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/webserver2/.cache/
7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/webserver2/.vscode/
7th_Semester/SistemasEmbebidosII/SourceFiles/ESP32_PRUEBAS/webserver2/.devcontainer/
